/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
    font-family: 'Poppins', sans-serif;
}
.logomarca{
    width: 220px;
    height: 130px;
    background: url("../imagens/logoSite.png") no-repeat 0 0;
    display: block;
}
.logo{
    float: left;
}
.menu{
    float: right;
}
.menu__li{
    float: left;
    margin: 0 10px;
}
.menu__link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
}
.clear{
    clear: both;
}
.center{
    width: 1110px;
    margin: 0 auto;
}
.apresentacao{
    background: url("../imagens/background.png") no-repeat center 0;
	padding-top: 40px;
}
.apresentacao__descricao{
    width: 550px;
    height: 400px;
    float: left;
    padding-top: 60px;
}
.apresentacao__foto img{
    width: 550px;
    height: 400px;
    float: right;
}
.title-apresentacao{
    color: #2A3B4D;
    font-size: 40px;
    line-height: 46px;
}
.title-apresentacao strong{
    font-weight: 600;
}
.descricao-apresentacao{
    color: #2A3B4D;
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 20px 0;
}
.bt-blue{
    background: #0B7BEC;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
}
#about{
    padding-top: 60px;
    background: url(../imagens/artBord.png) center 0 no-repeat ;
    height: 1000px;
}
.box-ilustracao{
    padding-top: 100px;
    width: 50%;
    float: left;
}
.about-box{
    width: 50%;
    float: left;
}
.about-title{
    color: #2A3B4D;
    font-size: 44px;
    line-height: 48px;
    font-weight: 600;
    margin-top: 10px 0 20px 0;
    padding-top: 150px;
    padding-left: 100px;
}
.iconOK{
    width: 18px;
    height: 18px;
    background: url(../imagens/iconsOK.png) 0 0 no-repeat;
    float: left;
}
.item-lista{
	margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
}

.item-lista span{
	float: left;
	padding: 0 5px 0 10px;
}